<div class="simple-form">
    
    <p>
        @Localizer["Are you sure you want to delete"] @item.DisplayName ?
    </p>

    <button @onclick="ConfirmDelete" class="btn btn-primary">@Localizer["Delete"]</button>

    <button @onclick="Cancel" class="btn btn-secondary">@Localizer["Cancel"]</button>
</div>