@page "/craft"
@using System.Globalization
@using BlazorApp.Component

<PageTitle>@Localizer["Craft"]</PageTitle>

<h1>@Localizer["Crafting table"]</h1>

<div>
    <Crafting Items="Items" Recipes="Recipes" />
</div>