.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "left right"
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
    max-height:100%
}

.inventory {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 460px;
    min-width: 250px;
    flex-flow: row wrap;
}
